@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-heading: var(--font-sans);
	--font-sans: var(--font-sans);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

:root {
	--catppuccin-mocha-rosewater: #f5e0dc;
	--catppuccin-mocha-flamingo: #f2cdcd;
	--catppuccin-mocha-pink: #f5c2e7;
	--catppuccin-mocha-mauve: #cba6f7;
	--catppuccin-mocha-red: #f38ba8;
	--catppuccin-mocha-maroon: #eba0ac;
	--catppuccin-mocha-peach: #fab387;
	--catppuccin-mocha-yellow: #f9e2af;
	--catppuccin-mocha-green: #a6e3a1;
	--catppuccin-mocha-teal: #94e2d5;
	--catppuccin-mocha-sky: #89dceb;
	--catppuccin-mocha-sapphire: #74c7ec;
	--catppuccin-mocha-blue: #89b4fa;
	--catppuccin-mocha-lavender: #b4befe;
	--catppuccin-mocha-text: #cdd6f4;
	--catppuccin-mocha-subtext1: #bac2de;
	--catppuccin-mocha-subtext0: #a6adc8;
	--catppuccin-mocha-overlay2: #9399b2;
	--catppuccin-mocha-overlay1: #7f849c;
	--catppuccin-mocha-overlay0: #6c7086;
	--catppuccin-mocha-surface2: #585b70;
	--catppuccin-mocha-surface1: #45475a;
	--catppuccin-mocha-surface0: #313244;
	--catppuccin-mocha-base: #1e1e2e;
	--catppuccin-mocha-mantle: #181825;
	--catppuccin-mocha-crust: #11111b;

	--catppuccin-macchiato-rosewater: #f4dbd6;
	--catppuccin-macchiato-flamingo: #f0c6c6;
	--catppuccin-macchiato-pink: #f5bde6;
	--catppuccin-macchiato-mauve: #c6a0f6;
	--catppuccin-macchiato-red: #ed8796;
	--catppuccin-macchiato-maroon: #ee99a0;
	--catppuccin-macchiato-peach: #f5a97f;
	--catppuccin-macchiato-yellow: #eed49f;
	--catppuccin-macchiato-green: #a6da95;
	--catppuccin-macchiato-teal: #8bd5ca;
	--catppuccin-macchiato-sky: #91d7e3;
	--catppuccin-macchiato-sapphire: #7dc4e4;
	--catppuccin-macchiato-blue: #8aadf4;
	--catppuccin-macchiato-lavender: #b7bdf8;
	--catppuccin-macchiato-text: #cad3f5;
	--catppuccin-macchiato-subtext1: #b8c0e0;
	--catppuccin-macchiato-subtext0: #a5adcb;
	--catppuccin-macchiato-overlay2: #939ab7;
	--catppuccin-macchiato-overlay1: #8087a2;
	--catppuccin-macchiato-overlay0: #6e738d;
	--catppuccin-macchiato-surface2: #5b6078;
	--catppuccin-macchiato-surface1: #494d64;
	--catppuccin-macchiato-surface0: #363a4f;
	--catppuccin-macchiato-base: #24273a;
	--catppuccin-macchiato-mantle: #1e2030;
	--catppuccin-macchiato-crust: #181926;

	--catppuccin-frappe-rosewater: #f2d5cf;
	--catppuccin-frappe-flamingo: #eebebe;
	--catppuccin-frappe-pink: #f4b8e4;
	--catppuccin-frappe-mauve: #ca9ee6;
	--catppuccin-frappe-red: #e78284;
	--catppuccin-frappe-maroon: #ea999c;
	--catppuccin-frappe-peach: #ef9f76;
	--catppuccin-frappe-yellow: #e5c890;
	--catppuccin-frappe-green: #a6d189;
	--catppuccin-frappe-teal: #81c8be;
	--catppuccin-frappe-sky: #99d1db;
	--catppuccin-frappe-sapphire: #85c1dc;
	--catppuccin-frappe-blue: #8caaee;
	--catppuccin-frappe-lavender: #babbf1;
	--catppuccin-frappe-text: #c6d0f5;
	--catppuccin-frappe-subtext1: #b5bfe2;
	--catppuccin-frappe-subtext0: #a5adce;
	--catppuccin-frappe-overlay2: #949cbb;
	--catppuccin-frappe-overlay1: #838ba7;
	--catppuccin-frappe-overlay0: #737994;
	--catppuccin-frappe-surface2: #626880;
	--catppuccin-frappe-surface1: #51576d;
	--catppuccin-frappe-surface0: #414559;
	--catppuccin-frappe-base: #303446;
	--catppuccin-frappe-mantle: #292c3c;
	--catppuccin-frappe-crust: #232634;

	--catppuccin-latte-rosewater: #dc8a78;
	--catppuccin-latte-flamingo: #dd7878;
	--catppuccin-latte-pink: #ea76cb;
	--catppuccin-latte-mauve: #8839ef;
	--catppuccin-latte-red: #d20f39;
	--catppuccin-latte-maroon: #e64553;
	--catppuccin-latte-peach: #fe640b;
	--catppuccin-latte-yellow: #df8e1d;
	--catppuccin-latte-green: #40a02b;
	--catppuccin-latte-teal: #179299;
	--catppuccin-latte-sky: #04a5e5;
	--catppuccin-latte-sapphire: #209fb5;
	--catppuccin-latte-blue: #1e66f5;
	--catppuccin-latte-lavender: #7287fd;
	--catppuccin-latte-text: #4c4f69;
	--catppuccin-latte-subtext1: #5c5f77;
	--catppuccin-latte-subtext0: #6c6f85;
	--catppuccin-latte-overlay2: #7c7f93;
	--catppuccin-latte-overlay1: #8c8fa1;
	--catppuccin-latte-overlay0: #9ca0b0;
	--catppuccin-latte-surface2: #acb0be;
	--catppuccin-latte-surface1: #bcc0cc;
	--catppuccin-latte-surface0: #ccd0da;
	--catppuccin-latte-base: #eff1f5;
	--catppuccin-latte-mantle: #e6e9ef;
	--catppuccin-latte-crust: #dce0e8;

	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.505 0.213 27.518);
	--primary-foreground: oklch(0.971 0.013 17.38);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.808 0.114 19.571);
	--chart-2: oklch(0.637 0.237 25.331);
	--chart-3: oklch(0.577 0.245 27.325);
	--chart-4: oklch(0.505 0.213 27.518);
	--chart-5: oklch(0.444 0.177 26.899);
	--radius: 0;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.577 0.245 27.325);
	--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.444 0.177 26.899);
	--primary-foreground: oklch(0.971 0.013 17.38);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.808 0.114 19.571);
	--chart-2: oklch(0.637 0.237 25.331);
	--chart-3: oklch(0.577 0.245 27.325);
	--chart-4: oklch(0.505 0.213 27.518);
	--chart-5: oklch(0.444 0.177 26.899);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.637 0.237 25.331);
	--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
